<!DOCTYPE html>
<html>
    <title>
        Dashboard
    </title>
    <body>
        <h1>DASHBOARD</h1>
        <!--FIRST SONG-->
        <a href="{{ url_for('views.whatigot') }}" target="_blank" title="Song 1">
            <h3>What I Got</h3>
        </a>
        <!--SECOND SONG-->
        <a href="{{url_for('views.floods')}}" target="_blank" title="Song 2">
            <h3>
                Floods
            </h3>
        </a>
        <!--EMAIL-->
        <a href="mailto:carljasonlazaro@gmail.com" target="_blank">
            Email me
        </a>
    </body>
</html>